body
{
	background-color: #9966ff;
	
}

<style>
	#container
	{
		width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}
	#logo
	{
		background-color: lightskyblue;
		color: white;
		text-align: center;
		padding: 15px;
	} 
     

	
	#content
	{
		float: left;
		padding: 20px;
		width: 640px;
	}
	
	#ad
	{
		float: left;
		width: 160px;
		min-height: 620px;
		padding: 10px;
		background-color: lightgray;
	}
	#footer
	{
		clear: both;
		background-color: black;
		color: white;
		text-align: center;
		padding: 20px;
	}	
	
	</style>


